{
    "presets": [
	    ["env",
	        {"targets":
	            {"browsers":
	                ["last 2 versions", "> 1%", "ie >= 8", "edge >= 14"]
	            },
	        "useBuiltIns": true,
	        "debug": true
	        }
	    ],
    "react",
    "stage-2",
    "es2015"
    ],
    "plugins": ["transform-object-assign"]
}
