[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "==1.11"
django-cors-headers = "*"
django-import-export = "*"
django-rest-framework = "*"
django-rest-knox = "*"
django-webpack-loader = "*"
"psycopg2" = "*"
pyyaml = "*"
pillow = "*"

[requires]
python_version = "2.7"
